doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../styles/verification-template.css")
        style
            include ../styles/verification-template.css
        title #{title}
    body
        div.template-wrapper
            div.email-container
                h1 #{welcomeMessage}
                p #{accountActivationInstruction}
                div.activation-button
                    a.activation-link(href=redirectUri) #{title}
                p #{emailLingUsageInstruction}:
                p #{redirectUri}
